body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #e6e4e4;
}


.cabecalho {
    background-color:#000035;
    background-image: linear-gradient(to right, red, blue);
    color: rgb(0, 0, 0);
    padding: 20px 0;
    
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #9EA1CA;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 0;
    height: 350px;
    color: #1c4c96;
  
}

 }
   
.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 15px 20px;
    background-color: rgb(223, 0, 0);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 60px;
}

.features {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 40px 0;
}



.contact {
    text-align: center;
    padding: 20px 0;
    background-color: #000035;
    color: #9EA1CA;
}

.contact  {
 
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 10px;
    padding:10px ;}


.footer {
 text-align: center;
    background-color: rgb(194, 116, 116);
    color: #fff;
    padding:10px;}
    
