/* Reset de estilos para remover margens e preenchimentos padrão do navegador */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 40px 0;
}

.feature {
    text-align: center;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    padding: 100px 0;
    background-color: #333;
    color: #fff;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
